button {
  display: block;
  width: 500px;
  font-size: 2em;
  padding: 1em;
}
.stop {
  margin-top: 660px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.stop img {
  width: 100%;
}
.play {
  margin-top: -100px;
  margin-right: 1010px;
  margin-left: 1010px;
  width: 100px;
  height: 100px;
}

.play img {
  width: 100%;
}

.pause {
  margin-top: -100px;
  margin-right: 810px;
  margin-left: 810px;
  width: 100px;
  height: 100px;
}

.pause img {
  width: 100%;
}
